.player-page {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.player-banner {
  display: inline-block;
}

.pitch-table {
  margin-top: 50px;
  width: 60%;
  float: right;
  max-height: 400px;
  overflow-y: auto;
}